{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>카테고리 모아보기</h1>
    <a class="btn btn-warning" href="{% url 'closets:new_category' %}">카테고리 추가하기</a>
    <table class="table">
        <tbody>
        {% if category_list %}
            {% for c in category_list %}
                <tr class="category_item">
                    <td>{{ c }}</td>
                    <td>
                        <form method="POST" action="{% url 'closets:del_category' pk=c.id %}">
                             {% csrf_token %}
                            <a href="{% url 'closets:del_category' pk=c.id %}"><button type="button" class="btn btn-secondary">삭제</button></a>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>카테고리가 없습니다.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}